@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

body {
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-image: radial-gradient(rgb(52 51 51), rgb(20, 20, 20));
  display: flex;
  justify-content: center;
  align-items: center;
}
